html, body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
    overscroll-behavior: none;
}

:not(input, textarea) {
    user-select: none;
  }

body {
    background: #efefef;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #fff;
    }
}

.routemap {
    margin: auto;
    padding: 0;
    list-style: none;
    position: absolute;
    /* width, height はJavaScriptで指定する */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.station {
    position: absolute;
    z-index: 10;
    display: block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    transform: translate(-8px, -8px);
}

.station.dijkstra-start {
    animation: blink 0.5s ease 0s infinite alternate none;
    border-width: 2px;
    transform: translate(-9px, -9px);
}

@keyframes blink {
    100% {
        border-color: #ddd;
    }
}

.station.dijkstra-start span {
    font-weight: bold;
}

.station span {
    position: absolute;
    display: block;
    width: 64px;
    font-size: 12px;
    line-height: 16px;
    left: -24px; /* (64 - 16)÷ 2 駅の中心に表示させる*/
    color: #000;
}

@media (prefers-color-scheme: dark) {
    .station span {
        color: #fff;
    }
}

.line {
    position: absolute;
    display: block;
    z-index: 1;
    height: 6px;
    transform-origin: 0 0;
    /* with, top, left, transform:rotate()はJavaScriptで指定する */
}

.train {
    position: absolute;
    z-index: 100;
    /* top, left, transform:rotate()はJavaScriptで指定する */
    width: 24px;
    height: 24px;
    transform-origin: 0 0;
    text-align: center;
}

.train.active {
    z-index: 300;
    animation: beat 0.5s ease 0s infinite alternate none;
}

@keyframes beat {
    0% {
        width: 22px;
        height: 22px;
    }

    100% {
        width: 25px;
        height: 25px;
    }
}

.train svg {
    width: auto;
    height: 100%;
    fill: #fff;
    stroke-width: 18;
}

.train.active svg {
    stroke-width: 20;
}

.time {
    position: absolute;
    display: block;
    z-index: 200;
    width: 40px;
    transform: translate(-20px, -7px); /* この要素の左上の点が駅の中心になるので、この要素の中心が駅の中心になるようにずらす */ 
    font-size: 10px;
    line-height: 16px;
    border-radius: 8px;
    text-align: center;
    color: #06291d;
    background-color: rgba(255, 255, 255, 0.85); /* opacityだとiOS Safariでちらつくので、rgbaで指定する*/
    box-shadow: 0px 1px 1px #999;
}

.timetable {
    position: absolute;
    z-index: 200;
    margin: 0;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.85); /* opacityだとiOS Safariでちらつくので、rgbaで指定する*/
    box-shadow: 2px 2px 2px #bbb;
    animation: toLeftBottom 0.3s ease 0.3s 1 normal forwards;
}

@keyframes toLeftBottom {
    100% {
        top: auto;
        left: 16px;
        right: auto;
        bottom: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    .timetable {
        color: #000;
        box-shadow: 2px 2px 2px #000;
    }
}

.timetable.open {
    margin: auto;
    padding: 12px;
     
    max-width: 500px;
    max-height: 1000px;
    animation: expand 0.5s ease 0s 1 normal forwards;
}

@keyframes expand {
    0% {
        left: 16px;
        bottom: 16px;
    }
    50% {
        left: 20%;
        right: 20%;
        top: 30%;
        bottom: 30%;
    }
    100% {
        left: 16px;
        right: 16px;
        top: 70px;
        bottom: 40px;
    }
}

.timetable.close {
    animation: shrink 0.5s ease 0s 1 normal forwards;
}
@keyframes shrink {
    0% {
        left: 16px;
        right: 16px;
        top: 70px;
        bottom: 40px;
    }
    50% {
        left: 20%;
        right: 20%;
        top: 30%;
        bottom: 30%;
    }
    100% {
        left: 16px;
        right: auto;
        top: auto;
        bottom: 16px;
    }
}

.timetable .container {
    display: none;
    opacity: 0;
}

.timetable.open .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100% - 35px);
    animation: fadeIn 0.5s ease 0.6s 1 normal forwards;
}

@keyframes fadeIn {
    100% {
        opacity: 0.9;
    }
}

.timetable h1 {
    display: flex;
    position: relative;
    align-items: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    white-space: nowrap;
}

.timetable.open h1 {
    font-size: 14px;
    padding: 0 0 5px;
}

.timetable h1 svg {
    display: none;
}

.timetable.open h1 svg {
    display: inline-block;
    position: absolute;
    stroke: #666;
    stroke-width: 1.5;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 4px;
}

.start-time {
    margin-right: 4px;
    color: #06291d;
}

.arrows {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 14px;
    margin: 0 2px;
}
.arrows span::after { /* thanks https://wemo.tech/122 */
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    top: calc(50% - 2px);/* ボーダーの太さ分を引く*/
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(45deg) translateY(-50%);
    color: rgb(188, 210, 194);
  }

.arrow1::after {
    left: 0;
    animation: ltr 0.6s ease 0s infinite alternate none;
}

.arrow2::after {
    left: 6px;
    animation: ltr 0.6s ease 0.2s infinite alternate none;
}

@keyframes ltr {
    100% {
        color: rgb(37, 156, 65);
    }
}

.summary {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 12px;
}

.summary li {
    margin: 0 0 20px;
    position: relative;
}

.summary li:last-child {
    margin: 0;
}

.summary li::after,
.summary li::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 50%;
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(135deg);
    color: rgb(37, 156, 65);
}

.summary li::after {
    top: 13px;
}

.summary li::before {
    top: -13px;
}

.summary li:first-child::before {
    content: none;
}

.summary li:last-child::after {
    content: none;
}

.timetable input {
    display: none;
}

.timetable label {
    display: block;
    /* width は JsavaScriptで求めている */
    order: -1; /* 後ろのdivより上部に表示する */
    padding: 4px 0 0;
    font-size: 12px;
    text-align: center;
    border-radius: 12px 12px 0 0;
}

.timetable input:checked + label,
.timetable tr:first-child th {
    font-weight: normal;
    color: #fff;
    background: rgb(96, 109, 116);
}

.timetable .container div {
    display: none;
}

.timetable input:checked + label + div {
    display: block;
    height: calc(100% - 21px);
    position: relative;
    overflow-y: auto;
}

.timetable table {
    font-size: 12px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.timetable th,
.timetable td {
    padding: 3px;
}

.timetable tr:first-child {
    position: sticky;
    top: 0;
}

.timetable tr:first-child th{
    text-align: left;
}

.timetable th:first-child {
    width: 1.5em;
}

.timetable tr:nth-child(even) th {
    background: #ccdced;
}

.timetable tr:nth-child(even) td {
    background: #e2edf9;
}

.component {
    position: absolute;
    z-index: 200;
    margin: 0;
    padding: 0;
    opacity: 0.7;
}

.day-selector {
    top: 16px;
    left: 16px;
    font-size: 16px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px #bbb;
    border-radius: 10px;
    display: flex;
}

@media (prefers-color-scheme: dark) {
    .day-selector {
        box-shadow: 2px 2px 2px #000;
    }
}

.day-selector:hover {
    opacity: 1;
}

.day-selector input {
    display: none;
}

.day-selector label {
    display: block;
    width: 3.5em;
    padding: 6px 4px 5px;
    background: #eee;
    color: #ccc;
    text-align: center;
}

.day-selector label[for="weekday"] {
    border-radius: 10px 0 0 10px;
}

.day-selector label[for="holiday"] {
    border-radius: 0 10px 10px 0;
}

.day-selector input:checked + label {
    background: #8ef5a9;
    color: #495c4e;
}

.zoom {
    top: 16px;
    right: 16px;
}

.zoom svg {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    fill: #333;
    filter: drop-shadow(0px 2px 1px #bbb);
    opacity: 0.7;
    transition-property: transform;
    transition-duration: 0.1s;
}

@media (prefers-color-scheme: dark) {
    .zoom svg {
        fill: #999;
        filter: drop-shadow(0px 2px 1px #000);
    }
}

.zoom .expand {
    transform: scale(0.9);
}

.zoom svg.hidden {
    display: none;
}

.zoom svg.disabled {
    opacity: 0.2;
}

.zoom svg.scale-up {
    opacity: 1;
    transform: scale(0.4);
}

.zoom svg.scale-down {
    opacity: 1;
    transform: scale(1.3);
}