html, body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
    overscroll-behavior: none;
}

body {
    background: #efefef;
    color: #000;
}

.routemap {
    margin: auto;
    padding: 0;
    list-style: none;
    position: absolute;
    /* width, height はJavaScriptで指定する */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    outline: 1px solid red;
}

.station {
    position: absolute;
    z-index: 10;
    display: block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    transform: translate(-8px, -8px);
}

.station span {
    position: absolute;
    display: block;
    width: 64px;
    font-size: 12px;
    line-height: 16px;
    left: -24px; /* (64 - 16)÷ 2 駅の中心に表示させる*/
    color: #000;
    /*outline: 1px solid red;*/
}

.line {
    position: absolute;
    display: block;
    z-index: 1;
    height: 6px;
    transform-origin: 0 0;
    /* with, top, left, transform:rotate()はJavaScriptで指定する */
}

.train {
    position: absolute;
    z-index: 100;
    /* top, left, transform:rotate()はJavaScriptで指定する */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 12px, 24px 16px;

    width: 24px;
    height: 24px;

    transform-origin: 0 0;
}

.time {
    transform: translateY(16px);
    color: #19b27d!important;
    font-weight: bold;
}

#高畑 span {
    left: 20px;
    text-align: left;
}

#八田 span {
    left: 20px;
    text-align: left;
}

#岩塚 span {
    left: 20px;
    text-align: left;
}

#中村公園 span {
    left: 20px;
    text-align: left;
}

#中村日赤 span {
    left: -50px;
    top: -20px;
    text-align: right;
}

#本陣 span {
    top: -20px;
}

#亀島 span {
    top: -20px;
}

#伏見 span {
    left: -64px;
    top: 16px;
    text-align: right;
}

#栄 span {
    left: -64px;
    top: 16px;
    text-align: right;
}

#新栄町 span {
    top: 20px;
}

#千種 span {
    top: 20px;
}

#池下 span {
    top: -20px;
}

#覚王山 span {
    top: -20px;
}

#本山 span {
    top: 10px;
    left: -68px;
    text-align: right;
}

#東山公園 span {
    top: -20px;
}

#星ヶ丘 span {
    top: 20px;
}

#一社 span {
    top: 20px;
}

#上社 span {
    left: -66px;
    top: -12px;
    text-align: right;
}

#本郷 span {
    top: 20px;
}

#藤が丘 span {
    left: -66px;
    top: -12px;
    text-align: right;
}

#中村区役所 span {
    top: 20px;
}

#名古屋 span {
    top: 20px;
}

#国際センター span {
    top: -20px;
    width: 80px;
    left: -31px;
}

#丸の内 span {
    top: -17px;
    left: 3px;
    text-align: left;
}

#久屋大通 span {
    top: 9px;
    left: -64px;
    text-align: right;
}

#高岳 span {
    top: -20px;

}

#車道 span {
    top: -20px;
}

#今池 span {
    top: -20px;
}

#吹上 span {
    left: 20px;
    text-align: left;
}

#御器所 span {
    left: 20px;
    top: -18px;
    text-align: left;
}

#桜山 span {
    left: 20px;
    text-align: left;
}

#瑞穂区役所 span {
    left: 20px;
    text-align: left;
}

#瑞穂運動場西 span {
    width: 80px;
    left: -84px;
    text-align: right;
}

#新瑞橋 span {
    top: 10px;
    left: 20px;
    text-align: left;
}

#桜本町 span {
    left: -68px;
    text-align: right;
}

#鶴里 span {
    top: 20px;
}

#野並 span {
    top: 20px;
}

#鳴子北 span {
    top: -20px;
}

#相生山 span {
    top: -20px;
}

#神沢 span {
    top: -20px;
}

#徳重 span {
    left: 20px;
    text-align: left;
}